registry=https://registry.npmjs.org/
git=false
strict-ssl=false
@whiskeysockets:registry=https://registry.npmjs.org/
@adiwajshing:registry=https://registry.npmjs.org/
git-protocol=https
git="E:\\Git\\bin\\git.exe"